* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "pt-sans", sans-serif;
}

.container {
    width: 90%;
    margin: auto;
}

/* start header//////////////////////////////////////////// */

header {
    padding: 10px;
    width: 100%;
    margin: 0 auto;
    position: sticky;
    top: 0;
    left: 0;
    background-color: #fff;
    box-shadow: 0px 0px 2px 2px #12121248;
    z-index: 100;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-content img {
    width: 100%;
    max-width: 200px;
}

.header-content nav ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.header-content ul li {
    display: inline-block;
}

.header-content ul li a,
.header-content ul li a {
    color: #7b5244;
}

.header-content nav ul li .link-item {
    position: relative;
    padding: 10px 15px;
    display: block;
    font-weight: bold;
    position: relative;
}

.header-content nav ul li .link-item:before,
.header-content nav ul li .link-item:after {
    content: "";
    position: absolute;
    border-style: solid;
    left: 0;
    top: 0;
    transition: transform 0.2s;
}

.header-content nav ul li .link-item:before {
    border-width: 0 2px;
    height: 100%;
    width: 95%;
    transform: scale3d(1, 0, 1);
}

.header-content nav ul li .link-item:hover:before {
    transform: scale3d(1, 1, 1);
}

.header-content nav ul li .link-item:after {
    border-width: 2px 0;
    height: 91%;
    width: 98%;
    transform: scale3d(0, 1, 1);
    transform-origin: left;
}

.header-content nav ul li .link-item:hover:after {
    transform: scale3d(1, 1, 1);
    transition-delay: .2s;
}

.header-content .login ul li {
    padding: 7px;
    font-weight: bold;
}

.header-content .login ul li:last-child i {
    position: relative;
}

.header-content .login ul li:last-child i:after {
    position: absolute;
    top: 100%;
    left: 100%;
    transform: translate(-50%, -50%);
    content: "0";
    background-color: #7b5244;
    color: #fff;
    border-radius: 50%;
    padding: 4px;
    font-size: 10px;
    aspect-ratio: 1/1;
    width: 12px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    width: 450px;
    border: 2px solid #7b5244;
    background-color: #fff;
    padding: 15px;
    margin-top: 5px;
    transform: scale(0);
    transition: transform 0.5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
}

.dropdown:hover .dropdown-menu {
    transform: scale(1);
    visibility: visible;
    opacity: 1;
}

.dropdown-menu ul {
    display: table-cell;
    text-align: left;
}

.dropdown-menu ul li:first-child a {
    display: block;
    border-bottom: 1px dotted #7b5244;
    margin-bottom: 10px;
}

.dropdown-menu ul li {
    line-height: 1.4;
}


/* end header ///////////////////////////////////////////////////////////*/


/* section_one ////////////////////////////////////// */

section.header img {
    width: 100%;
    margin: 20px 0 0 0;
}

.category {
    margin-top: 50px;
}

.section-header {
    text-align: center;
    margin-bottom: 25px;
}

.section-title {
    font-size: 30px;
    margin-bottom: 10px;
}

.section-header .line {
    display: block;
    width: 100px;
    margin: auto;
    height: 2px;
    background-color: #7b5244;
    transition: width .5s;
}

.section-header:hover .line {
    width: 150px;
}

.category-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.category-items img {
    width: 100%;
    margin-bottom: 5px;
}

.category-item-subtitle {
    color: gray;
    font-weight: normal;
}

.category-item-title {
    font-size: 19px;
}

.category-item {
    position: relative;
    /* max-width: 240px; */
    flex: 1;
}

.category-item .icon {
    width: 30px;
    height: 30px;
    background-color: brown;
    color: #fff;
    text-align: center;
    display: block;
    line-height: 30px;
    position: absolute;
    bottom: 0;
    right: 0;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.1;
}

.category-item:hover .icon {
    visibility: visible;
    opacity: 1;
}


/* DISCOUNT................................................................................................... */

.discount {
    margin: 40px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    gap: 10px;
    flex-wrap: wrap;
}

.discount-desc {
    flex: 1;
    min-width: 280px;
    background: #f7f3ef;
    padding: 20px;
    position: relative;
}

.discount-item {
    min-width: 280px;
    height: 300px;
    position: relative;
}

.discount-item-info {
    position: absolute;
    top: 20px;
    left: 15px;
}

.discount-item-info h3 {
    font-weight: normal;
    color: #7b5244;
}

.discount-item-info h2 {
    font-size: 20px;
}

.discount-item:nth-child(2) {
    background-image: url(../media/3850c453-e885-4c38-96c5-2345c458dafd.jpeg);
    background-size: cover;
    transition: transform 0.2s;
}

.discount-item:nth-child(2):hover {
    transform: scale(1.09);
}

.discount-desc .top {
    position: relative;
    padding-left: 50px;
    margin-bottom: 20px;
}

.discount-desc .top .icon {
    position: absolute;
    left: 0px;
    top: 0px;
    font-size: 50px;
    color: #7b5244;
}

.discount-desc .top+p {
    line-height: 1.7;
}

.discount-desc .bullets span {
    display: inline-block;
    width: 50px;
    height: 2px;
    background: #7b5244;
    margin-left: 10px;
}

.discount-desc .bullets {
    text-align: right;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

.discount-item:nth-child(3) {
    background-image: url(../media/acfa95b9-2ed1-44fc-9e7b-dabd675c6296.jpeg);
    background-size: cover;
    transition: transform 0.2s;
}

.discount-item:nth-child(3):hover {
    transform: scale(1.09);
}


/* SPRITES.................................................................................................. */

.sprites {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;
    margin-bottom: 55px;
}

.sprite-item {
    flex: 1;
    text-align: center;
    min-width: 140px;
    padding: 4px;
}

.sprite-item:last-child {
    border: 0;
}

.sprite-info h3 {
    font-size: 17px;
}

.sprite-info span {
    color: gray;
    font-size: 15px;
}

.sprite-icon {
    background-image: url(../media/service-icon\ \(1\).png);
    height: 55px;
    background-repeat: no-repeat;
}

.sprite-icon-1 {
    background-position: center 5px;
    transition: all .5s;
}

.sprite-item:hover .sprite-icon-1 {
    background-position: center -86px;
}

.sprite-icon-2 {
    background-position: center -180px;
    transition: all .5s;
}

.sprite-item:hover .sprite-icon-2 {
    background-position: center -273px;
}

.sprite-icon-3 {
    background-position: center -366px;
    transition: all .5s;
}

.sprite-item:hover .sprite-icon-3 {
    background-position: center -455px;
}

.sprite-icon-4 {
    background-position: center -549px;
    transition: all .5s;
}

.sprite-item:hover .sprite-icon-4 {
    background-position: center -639px;
}

.sprite-icon-5 {
    background-position: center -734px;
    transition: all .5s;
}

.sprite-item:hover .sprite-icon-5 {
    background-position: center -826px;
}


/* PRODUCTS.................................................................................................. */

.products {
    margin-top: 3%;
}

.list-product {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.products-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    width: 100%;
    margin: 30px 0px;
}

.product-item {
    width: calc(100% - 10px);
    max-width: 350px;
}

.product-img {
    position: relative;
    overflow: hidden;
    aspect-ratio: 1/1;
}
.product-img img{
    width: 100%;
}

.product-overlay {
    position: absolute;
    top: 0;
    left: 0;
    transform: scalex(0);
    opacity: 0.9;
    transition: transform 0.2s;
}

.product-overlay ul {
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
}

.product-overlay ul li {
    width: 40px;
    height: 40px;
    background-color: #7b5244;
    display: inline-block;
    text-align: center;
}

.product-overlay ul li i {
    color: #fff;
    line-height: 40px;
}

.product-item:hover .product-overlay {
    transform: scalex(1);
}

.product-item i.active {
    color: yellow;
}

.product-info span {
    display: block;
    margin: 5px 0;
}

.product-info i {
    margin-top: 10px;
}


/* form/////////////////////////////////////////////// */

.continer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.contact {
    margin: 50px 0;
}

.contact .content {
    text-align: center;
}

.contact .continer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 40px;
}
.contact .continer > div{
    flex: 1;
}

.contact .continer .continerinfo {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
}

.contact .continer .continerinfo .box {
    position: relative;
    padding: 14px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 14px;
    margin-bottom: 15px;
    background: #7b5244;
}

.contact .continer .continerinfo .box .icon {
    width: 42px;
    height: 42px;
    border: 2px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 18px;
    color: #fff;
}

.contact .continer .continerinfo .box .text {
    color: #fff;
    word-break: break-word;
}

.contact .continer .continerinfo .box .text p {
    font-size: 16px;
    font-weight: 400;
}

.contact .contactfrom {
    background-color: #fff;
    width: 100%;
}

.contact .contactfrom h2 {
    font-size: 30px;
    color: #333;
    font-weight: 500;
}

.contact .contactfrom .inputbox {
    position: relative;
    width: 100%;
}

.contact .contactfrom .inputbox input {
    height: 40px;
}

.contact .contactfrom .inputbox input,
.contact .contactfrom .inputbox textarea {
    width: 100%;
    padding: 3px 0;
    font-size: 16px;
    margin: 10px 0;
    outline: none;
    resize: none;
}

.contact .contactfrom .inputbox span {
    position: absolute;
    top: 30px;
    left: 5px;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}

.contact .contactfrom .inputbox input:focus~span,
.contact .contactfrom .inputbox input:valid~span,
.contact .contactfrom .inputbox textarea:focus~span,
.contact .contactfrom .inputbox textarea:valid~span {
    color: #666;
    font-size: 14px;
    transform: translateY(-35px);
    border: none;
}

.contact .contactfrom .inputbox input[type="submit"] {
    width: 140px;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 20px;
    background-color: #7b5244;
}


/* footer///////////////////////////////// */

.footer {
    background-color: #7b5244;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    padding: 10px;
}

.me p {
    font-size: 15px;
    color: #fff;
}

.me a {
    color: #fff;
    text-decoration: underline;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

.links i {
    width: 40px;
    height: 40px;
    border: 2px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 18px;
    color: #fff;
    transition-duration: 0.2s;
}
.links i:hover {
    border: 2px solid #7b5244;
    background-color: #fff;
    color: #7b5244;
}

.login .myRow{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4px;
    flex-wrap: nowrap;
}
.login .myRow a{
    color: #000;
    transition-duration: 0.2s;
}
.login .myRow a:hover{
    color: #7b5244;
}

@media (max-width: 693px){
    .header-content nav, .header-content .login{
        display: none;
    }
    .header-content img {
        max-width: 100px;
    }
    .contact .continer {
        flex-direction: column;
        gap: 20px;
    }
}